.createList {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createList Button {
    height: 50px;
    padding: 10px;
    background-color: #84F996;
    
  }